# Python for SQL Developers: Basic Comparisons

## Important Differences

**1. Python is case sensitive**

In [ ]:
# Run this cell first
python = 'A python is a type of snake. It is also a programming language.'

In [ ]:
# Now run this cell
Python

**2. Python starts with 0**

When referencing the first value in a variable, Python uses 0.

In [ ]:
# Run this to get the first value in the string
python[0]

In [ ]:
# What happens if we use [1] instead?

**3. Equals is for variables**

We use a single equals sign to assign values to variables in Python.

In [ ]:
# Assign the string 'There are key differences between Python and SQL.' to the variable difference

In [ ]:
# Now compare python with difference to see if they are the same

"Does not equal" is also different in Python. Python uses `!=` instead of `<>`.

**4. NULL is None**

In Python, the default for a null value is None. It needs to be written with the first letter as uppercase for Python to recognize it as the null value.

In [ ]:
# Run these two cells to compare the difference in the data type
type(None)

In [ ]:
# Compare with the above result
type(none)

**5. Code comments are different**

In Python single line code comments are designated with the hash simple (`#`). This is the equivalent of the two dashes (`--`) in SQL. 

Multi-line comments are designated by wrapping the section with three single or double quotation marks (`'''` or `"""`) on either side. This is the equivalent of the slash and star (`/* */`) in SQL.

In [ ]:
# Run this cell one time with all lines uncommented. Then run again after removing the comments from the lines below
# print('When code is commented, it does not run.')
"""
comment = 'But when they are removed, the code runs as expected.'
comment
"""

## Basic Data Types
There are similarities between basic data types in Python and SQL. In Python there are four "foundational" data types. Here's how they map to SQL equivalents: 
- **string**: text, char, varchar
- **integer**: numeric (whole numbers only)
- **float**: numeric (decimal numbers)
- **boolean**: similar to binary but not exact comparison

The data types in Python can be separated from each other on two key dimensions - **immutability** and **orderedness**.

An object or data type is **immutable** when the space it is assigned in memory cannot be changed. Immutable objects are faster to access compared to mutable objects. An object or data type is **ordered** when it's elements are stored in a specific order that can be referenced for future use. 

Let's explore the functionality of each of these basic data types in Python.

### Strings
Strings (`str`) are Python's "text" data type. Strings are immutable and ordered. They are designated by using single or double quotes.

In [ ]:
# Each of these is a string data type
'hello'
"hello"
''

In [ ]:
# Confirm the type by running this cell - you can change the value to test each example
type('hello')

Strings in Python have some unique functionality. The can be added, multiplied and indexed. This is the equivalent of `||` or `CONCAT` in SQL.

In [ ]:
# Run this cell to see string addition
intro = "Hello" + " my name is " + "Rebecca"
intro

In [ ]:
# Run this cell to see string multiplication - note the asterix for multiplication
"hello " * 3

Because strings are immutable, these operations create new objects, they don't change the original object that was assigned to memory.

As previously mentioned, Python uses zero indexing. Using `[0]` will find the first character in the string.

In [ ]:
# Return the first character in the string 'hello'

It is also possible to index Python strings from the right using negative numbers. The first value from the right is referenced with `[-1]`.

In [ ]:
# Return the last character in the string 'hello' by indexing from the right

It is also possible to use indexing to select a slice of characters in Python. The colon (`:`) acts as the "between" indictor. Using it will collect the values in the string from the beginning position to one before the end position.

In [ ]:
# Run this cell to return the slice
'hello'[2:4]

If starting from the first character of a string, or finishing witht the final character, then this value can be left blank.

In [ ]:
# Run this cell to return the first two characters
'hello'[:2]

In [ ]:
# Return the last two characters of 'hello'

This is the equivalent of `SUBSTRING` in SQL.

### Integers
Integers (`int`) are whole numbers in Python. The lack of a need for a decimal place makes them smaller to store in memory. Integers are immutable and unordered (they cannot be sliced or indexed). They are designated by their number.

In [ ]:
# Each of these is an integer data type
1
5000
-387

In [ ]:
# Use type() to confirm that each of the above is integer type

Just because an object looks like a number doesn't mean it is a number!

In [ ]:
# Run this cell to compare the differences between the two
string = '1'
number = 1
print(string, type(string))
print(number, type(number))

Integers can be used in all of the regular arithmetic and mathematical functions.

In [ ]:
# Find the sum of 59 and 72

In [ ]:
# What is 23 minus 418?

In [ ]:
# Find 8 multiplied by  75

Division uses the `/` symbol.

In [ ]:
# Run this cell to complete the division
divide = 24/2
print(divide)
type(divide)

Note the change in type as a result of completing the division.

_Double click to edit this cell to record your observation_

To square a value, or find one value to the power of another, Python uses two asterix (`**`), the equivalent of the `POWER` function in SQL.

In [ ]:
# What is 36 squared?

It's also possible to change data types using the data type names.

In [ ]:
# Run this cell to convert the second number to an int
new_number = int('2342'[1])
type(new_number)

### Floats
Floats are Python's floating point datatype, or "real numbers". They are designated by a decimal point. They are immutable and unordered.

In [ ]:
# Each of these is a float data type
2.
.384
-353.34322

In [ ]:
# Use this cell to test the type of each of the above

Everything we can do with ints we can do with floats. It's also possible to convert floats to ints.

In [ ]:
# Run this cell to observe what happens when a float is converted to an int
int(-353.74322)

_Double click to edit this cell to record your answer - what SQL function has a similar behavior?_

### Boolean
Booleans are logical values that can be one of two values, True or False. Booleans are also immutable and unordered.

In [ ]:
# Find the data type of True and False

In [ ]:
# What happens if you try to find the data type of true?
type(true)

Booleans typically act as the results of comparisons.

In [ ]:
# Consider the results of each expression before running the cell - do the results match your assessments
print(7 <= 10)
print(8 == 8)
print(8 != 8)

Boolean values can be used in their boolean forms but also function as numbers in mathematical functions.

Use the cells below to find the results of the following:
1. True plus True
2. False minus True
3. True multipled by 4
4. True divided by 5

In [ ]:
# Cell for working

In [ ]:
# Cell for working

In [ ]:
# Cell for working

In [ ]:
# Cell for working

Based on your observations of the use of the boolean values in mathematical operations, what value do each of True and False default to?

_Double click to edit and record your answer_