# Python for SQL Developers: Basic Data Types II
## Python Distinctives
**Snake Case**

Snake case is a naming convention where all letters are lower case and any spaces are underscores `like_this`. This is the typical naming convention for variables (and functions) in Python. While it is not required to use the naming convention to create a variable, it is helpful to distinguish from classes (helpful when working with others).

In [ ]:
# Create a variable that holds the string 'this is a test' in a snake case variable, "my test variable"

In [ ]:
# What happens if you try to use spaces in a variable name?

## Collections
Collections are an important part of working with code. In Python the basic collection data types are:
- Tuples
- Lists
- Dictionaries

Let's examine each of these more closely.

### Tuples
Tuples are the closest equivalent to the objects found in brackets when using `IN` in SQL, e.g. `NOT IN (1, 2, 3)`. A tuple is an immutable (using the least memory), ordered collection that can hold any kind of Python object (including other collections). 

Tuples are designated by parentheses and must have at least two objects in them.

In [ ]:
# Confirm that (1, 2) is the data type 'tuple'

In [ ]:
# What data type is stored if you attempt to do (1) or ('1')?

Tuples cannot be modified once created and can only be referenced with indexing/slicing.

1\. Create a tuple called `shopping_list` that includes the following: pears, corn flakes, bread, milk, cheese, oranges.

In [ ]:
# What is the third item on your shopping list?

In [ ]:
# What happens if you try to add eggs to your list using + ?

To use tuples in the same way as we would in SQL, run the cell below.

In [ ]:
# Run this cell
new_shopping_list = ('avocado', 'pumpkin', 'brown rice' 'chicken')
'eggs' in new_shopping_list